# Framework principal
Flask==2.3.3
Werkzeug==2.3.7

# Base de datos y migraciones
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5

# Programación de tareas
APScheduler==3.10.4

# Procesamiento de video
ffmpeg-python==0.2.0

# Tiempo real y monitoreo
flask-socketio==5.3.6
python-socketio==5.10.0
watchdog==3.0.0

# Seguridad
python-dotenv==1.0.0
